$spacing-horiz-sm: $spacing-md;
$spacing-horiz-lg: $spacing-xl;
$spacing-vert-sm: $spacing-xl;
$spacing-vert-lg: $spacing-xl;

@mixin spacing($direction: horiz, $property: 'padding') {
  // allows you to specify a single direction & ignore other attributes
  @if $direction == top {
    #{$property}-top: $spacing-vert-sm;

    @include mq($bp-tablet-xl) {
      #{$property}-top: $spacing-vert-lg;
    }
  } @else if $direction == right {
    #{$property}-right: $spacing-horiz-sm;

    @include mq($bp-tablet-xl) {
      #{$property}-right: $spacing-horiz-lg;
    }
  } @else if $direction == bottom {
    #{$property}-bottom: $spacing-vert-sm;

    @include mq($bp-tablet-xl) {
      #{$property}-bottom: $spacing-vert-lg;
    }
  } @else if $direction == left {
    #{$property}-left: $spacing-horiz-sm;

    @include mq($bp-tablet-xl) {
      #{$property}-left: $spacing-horiz-lg;
    }
  } @else if $direction == horiz {
    #{$property}-left: $spacing-horiz-sm;
    #{$property}-right: $spacing-horiz-sm;

    @include mq($bp-tablet-xl) {
      #{$property}-left: $spacing-horiz-lg;
      #{$property}-right: $spacing-horiz-lg;
    }
  } @else if $direction == vert {
    #{$property}-top: $spacing-vert-sm;
    #{$property}-bottom: $spacing-vert-sm;

    @include mq($bp-tablet-xl) {
      #{$property}-top: $spacing-vert-lg;
      #{$property}-bottom: $spacing-vert-lg;
    }
  } @else if $direction == all {
    #{$property}: $spacing-vert-sm $spacing-horiz-sm;

    @include mq($bp-tablet-xl) {
      #{$property}: $spacing-vert-lg $spacing-horiz-lg;
    }
  }
}

@mixin max($max-width: $site-max, $auto-margins: true) {
  max-width: $max-width;

  @if ($auto-margins) {
    margin-left: auto;
    margin-right: auto;
  }
}

// carve out space for navigation
@mixin nav-space {
  @include fluid-size(
    $properties: padding-top,
    $tween-start: 100px $bp-tablet,
    $tween-end: $spacing-xxxxl $bp-desktop
  );
}

// block spacing
@mixin block-spacing-sm {
  @include margin($spacing-md x);
}

@mixin block-spacing-md {
  @include margin($spacing-xl x);

  @include mq($bp-tablet-xl) {
    @include margin($spacing-xxl x);
  }
}

// Fixed positioning WP admin bar
@mixin admin-bar-offset($value: 0, $property: 'top') {
  // Without admin bar present, just use the passed value
  #{$property}: $value;

  .admin-bar & {
    // calc() requires a unit to do addition
    @if (unitless($value)) {
      $value: #{$value}px;
    }
    #{$property}: calc(#{$value} + #{var(--wp-admin--admin-bar--height)});
  }
}
