{% extends "layouts/base.twig" %}

{% set palette = 'cream' %}

{% block pageBody %}
  <header class="pt-topper-margin-lg pb-24 px-site-padding text-foreground flex flex-col gap-8 items-center">
    <h1 class="font-display font-medium uppercase text-headline text-center">404 Not Found</h1>

    <p class="font-serif text-h3 text-center">Oops! We could not find the page you were looking for.<p/>

    <a class="button" href="/">Return Home</a>
  </header>
{% endblock %}
