{% extends "layouts/base.twig" %}

{% set palette = 'lavender' %}

{% block pageBody %}
  {% include 'templates/components/toppers/homepage-topper.twig' with {
    title: page.title,
  } %}

  <div class="gutenberg rich-text mt-4 mb-10 md:mt-6 md:mb-16">
    {{ page.content }}
  </div>
{% endblock %}
