{% extends "layouts/base.twig" %}

{% set palette = 'yellow' %}

{% block pageBody %}
  <div class="pt-topper-margin palette-yellow bg-background">
    {% set intervention = featured_article.intervention %}

    {% include 'blocks/tease/tease.twig' with {
      overline: intervention.title ?? 'Featured',
      headline: featured_article.title,
      description: featured_article.preview.read_more(''),
      image: featured_article.thumbnail,
      cta: {
        title: 'Read More',
        url: featured_article.link,
      },
      size: 'large',
      palette: palette,
    } %}
  </div>

  <div class="gutenberg rich-text mt-4 mb-10 md:mt-6 md:mb-16">
    {{ post.content }}
  </div>

  {% include 'templates/components/article-index.twig' with {
    articles: articles
  } %}
{% endblock %}
