{% extends "layouts/base.twig" %}

{% set palette = 'yellow' %}

{% block pageBody %}
  <h1 class="sr-only">{{ post.title }}</h1>

  {% include 'templates/components/article-index.twig' with {
    articles: articles
  } %}
{% endblock %}
