{% extends "layouts/base.twig" %}

{% set palette = 'lavender' %}

{% block pageBody %}
  {% include 'templates/components/toppers/homepage-topper.twig' with {
    title: page.meta('headline'),
    image: page.meta('image'),
    introduction: page.meta('introduction'),
    description: page.meta('description'),
  } %}

  <div class="gutenberg rich-text">
    {{ page.content }}
  </div>
{% endblock %}
