{% extends "layouts/base.twig" %}

{% set palette = 'maroon' %}

{% block pageBody %}
  {% set description %}
  <span class="font-bold">{{ state.title }}</span> — {{ state.meta('introduction')|striptags('<em><strong><a>')|raw }}
  {% endset %}

  {% include 'templates/components/toppers/split-topper.twig' with {
    overline: 'State-based grantees',
    title: state.meta('headline'),
    state: state.handle,
    image: state.thumbnail,
    description: description,
  } %}

  <article class="gutenberg rich-text">
    {{ state.content }}

    {% if state.grantees|length %}
      {% include 'blocks/grantees/grantees.twig' with {
        grantees: state.grantees,
      } %}
    {% endif %}
  </article>

{% endblock %}
