{% extends "layouts/base.twig" %}

{% set palette = 'maroon' %}

{% block pageBody %}
  {% set description %}
  <span class="font-bold">{{ post.title }}</span> — {{ post.meta('introduction')|striptags('<em><strong><a>')|raw }}
  {% endset %}

  {% include 'templates/components/toppers/split-topper.twig' with {
    overline: 'State-based grantees',
    title: post.meta('headline'),
    state: post.handle,
    image: post.thumbnail,
    description: description,
  } %}

  <article class="gutenberg rich-text mt-16">
    {{ post.content }}
  </article>
{% endblock %}
