{% extends "layouts/base.twig" %}

{%- block custom_body_classes -%}
  {{ article.is_light_nav ? 'light-nav' }}
{%- endblock -%}

{%- block custom_content_classes -%}
  basic-page
{%- endblock -%}

{% block pageBody %}

  {% include 'components/page-topper.twig' with { title: page.title } %}

  <article class="gutenberg-layout basic-page__body">
    <div class="gutenberg-content basic-page__body-width js-hang-punc">
      {{ page.content }}
    </div>
  </article>

{% endblock %}
