$bp-mobile: 300px;
$bp-phablet: 400px;
$bp-tablet: 600px;
$bp-tablet-xl: 768px;
$bp-desktop: 1024px;
$bp-desktop-xl: 1200px;
$bp-desktop-xxl: 1500px;
$bp-desktop-xxxl: 1700px;

// Applied
$bp-mobile-menu: $bp-tablet-xl;
