<section
  class="palette-cream text-foreground"
  data-block="statement"
>
  <p>
    {{ statement }}
  </p>

  {% if description %}
    <p>
      {{ description|striptags('<em><strong><a>')|raw }}
    </p>
  {% endif %}
</section>
