{
  "root": true,
  "extends": "@upstatement",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "wp": "readonly"
  },
  "plugins": ["react"],
  "overrides": [
    {
      "files": "./web/wp-content/themes/the-equity-fund/blocks/**/*.js",
      "extends": "@upstatement/eslint-config/react",
      "rules": {
        "react/react-in-jsx-scope": "off"
      },
      "settings": {
        "react": {
          "version": "^16.9.0"
        }
      }
    }
  ]
}
