# OS
.DS_Store
Thumbs.db

# IDE and local environment
/.vscode/

# Packages
/vendor/
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Application
.env
/uploads/*
!/uploads/.gitkeep
/plugins/*
!/plugins/.gitkeep

auth.json

# Tests
.eslintcache

# Local project
/_backup/

# WordPress core
web/**

!web/wp-content/
!web/wp-content/themes/
!web/wp-content/themes/**
web/wp-content/themes/index.php
!web/wp-content/mu-plugins/
!web/wp-content/plugins/
!web/wp-content/plugins/.gitkeep
!web/wp-content/uploads/
!web/wp-content/uploads/.gitkeep
