<div class="site-grid">
  <div class="site-grid__inner">
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
    <div class="site-grid__col"><span class="site-grid__col-inner"></span></div>
  </div>
</div>
