
<figure class="asset-block asset-block--asym-grid alignwide">

  <div class="assets">
    <div class="lead-asset">
      {% include 'components/articles/blocks/asset.twig' with asset %}
    </div>

    <div class="small-assets">
      {% for asset in small_assets %}
        {% include 'components/articles/blocks/asset.twig' with asset %}
      {% endfor %}
    </div>
  </div>

  {% include 'components/articles/blocks/caption.twig' with caption %}

</figure>
