{% if people|length %}
<section
  class="text-foreground"
  data-block="people"
  {% if headline %}aria-label="{{ headline }}"{% endif %}
>
  {% include 'templates/components/block-header.twig' with {
    title: headline
  } %}

  <ul class="grid grid-cols-3 gap-gutter mt-gutter">
    {% for person in people %}
    <li class="flex flex-col gap-2">
      {% include 'templates/components/lazy-img.twig' with {
        class: 'w-full',
        img: Image(person.thumbnail),
        aspectRatio: 'square'
      } %}

      <h3>{{ person.title }}</h3>
      <p>{{ person.meta('position') }}</p>
      <p>{{ person.preview.read_more('') }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
