{% if people|length %}
<section
  class="text-foreground"
  data-block="people"
  {% if headline %}aria-label="{{ headline }}"{% endif %}
>
  {% include 'templates/components/block-header.twig' with {
    title: headline
  } %}

  <ul class="grid grid-cols-3 gap-gutter mt-gutter">
    {% for person in people %}
      {% set position = person.meta('position') %}

      <li class="flex flex-col gap-2">
        {% if person.thumbnail %}
          {% include 'templates/components/lazy-img.twig' with {
            class: 'w-full',
            img: Image(person.thumbnail),
            aspectRatio: 'square'
          } %}
        {% endif %}

        <h3>{{ person.title }}</h3>

        {% if position %}
          <p>{{ position }}</p>
        {% endif %}

        {% if person.preview %}
          <p>{{ person.preview.read_more('') }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
