<section
  class="text-foreground"
  data-block="people"
  {% if headline %}aria-label="{{ headline }}"{% endif %}
>
  {% include 'templates/components/block-header.twig' with {
    title: headline
  } %}
</section>
