// Grid
// -------

.site-grid {
  @include fixed(0 0 0 0);
  @include grid-parent($site-max);
  display: none;
  pointer-events: none;
  z-index: 9999;

  .show-grid & {
    display: block;
  }
}

.site-grid__inner {
  min-height: 100vh;
  pointer-events: none;

  @include mq($bp-tablet-xl) {
    background-color: transparent;
  }

  .site-grid__col {
    @include grid-child;
    float: left;
    width: $three-col;
    pointer-events: none;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      display: block;
    }

    @include mq($bp-tablet-xl) {
      display: block;
      width: $one-col;
    }
  }

  .site-grid__col-inner {
    display: block;
    background-color: rgba($c-grid-color, 0.25);
    min-height: 100vh;
  }
}
