<header class="palette-{{ palette }} bg-background px-site-padding pb-12 md:pb-16 pt-topper-margin md:pt-topper-margin-lg">
  <div class="flex flex-col items-center gap-8 lg:gap-10 lg:w-10/12 xl:w-8/12 mx-auto">
    <div class="flex flex-col gap-5 md:gap-6 text-body-text font-sans-narrow leading-[1] items-center text-foreground max-md:text-center">
      <h1 class="font-serif text-foreground text-h2 text-center max-w-article-wide">{{ title }}</h1>
      {% if bylines|length %}
        <p class="text-base">By {% for byline in bylines %}{{ byline }}{% if loop.index < loop.length - 1 %}, {% endif %}{% if loop.index == loop.length - 1 %} and {% endif %}{% endfor %} {% if show_date %} . {{ date }} {% endif %}</p>
      {% endif %}
    </div>

    {% if image %}
      {% include 'templates/components/figure.twig' with {
        class: 'w-full',
        img: image,
      } %}
    {% endif %}
  </div>
</header>
