.tease-list {
  @include spacing(vert);
  list-style: none;
  padding: 0;
}

.tease {
  padding-top: $spacing-xl;
  position: relative;

  &::before {
    @include pseudo(0 var(--grid-padding) x var(--grid-padding));
    background-color: $c-border-light;
    height: 1px;
  }

  &:not(:first-child) {
    margin-top: $spacing-xl;
  }
}

.tease__inner {
  @include mq($bp-tablet) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.tease__art-mod {
  @include grid-child;
  width: 100%;

  @include mq($bp-tablet) {
    width: $three-col;
  }
}

.tease__art__link {
  display: block;
  width: 100%;
}

.tease__text-mod {
  @include grid-child;
  width: 100%;
  .tease--image & {
    margin-top: $spacing-sm;

    @include mq($bp-tablet) {
      margin: 0;
      width: $nine-col;
    }
  }
}

.tease__hgroup {
  @include subtle-link($target: '.tease__h-underline');
  display: block;
  &:not(:first-child) {
    margin-top: $spacing-sm;
  }
}

.tease__h {
  margin-top: 0;
}

.tease__desc {
  margin-top: $spacing-sm;
  max-width: 800px;
}

.tease__authors {
  margin-top: $spacing-sm;
  padding-left: 0;

  a {
    @include subtle-link;
  }
}

.tease__overline-link {
  @include subtle-link;
}
