// Grid System
// -------
// FOR: Adding grid padding to parent and content blocks

// grid-parent
// - Apply to a container to apply --site-padding.
// - Grid parents may contain one or more grid-children.
// - Grid parents often have `display: flex`; applied to put grid children into rows.
// - Optionally, pass a max-width like $site-max or $article-max.
@mixin grid-parent($max: false) {
  @if ($max) {
    @include max($max);
  }
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
}

// grid-child
// - Apply to a child of a grid-parent.
// - Works in concert with percentage-based widths like `width: $three-col`;
@mixin grid-child() {
  padding-left: var(--grid-padding);
  padding-right: var(--grid-padding);
}

// grid-parent-child
// - Occasionally it's useful to set both parent and child padding on a single element to avoid creating extra containers
@mixin grid-parent-child {
  padding-left: calc(var(--site-padding) + var(--grid-padding));
  padding-right: calc(var(--site-padding) + var(--grid-padding));
}
