// - - - - - - - - - - - - - - -------------------------------------------------------------
// Pagination
// - - - - - - - - - - - - - - -------------------------------------------------------------

.pagination {
  @include spacing(top);
  border-top: $border-light;
  margin-top: $spacing-xl;
}

.pagination__link {
  @include subtle-link;
  @include margin(0 $spacing-xs);
  display: block;
}

.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__list-item {
  position: relative;

  &.selected {
    @include reverse;
    .pagination__link {
      padding: 0;
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }

  @include mq(0, $bp-tablet-xl) {
    display: none;
  }
}

.pagination__next-prev {
  &.nextPage {
    right: 0;
    margin-left: auto;
    padding-left: $spacing-md;
  }

  &.previousPage {
    left: 0;
    margin-right: auto;
    padding-right: $spacing-md;
  }
}

.pagination__next-prev-button {
  display: flex;
  justify-content: center;

  &:not(.disabled) {
    @include subtle-link;
  }

  &.disabled {
    color: $c-disabled;
  }
}
