<article class="article-body">
  {% include "byline.twig" with article.article_info %}
  {% include "share-tools.twig" with article %}

  <div class="article-body-width js-hang-punc">

    {% for block in article.article_body %}
      {% include "paragraphs.twig" with {'dropcap': loop.index0 == 0} %}
      {% include "" ~ block.article_component ~ ".twig" with block.content %}
    {% endfor %}

    {% include "paragraphs.twig" %}

  </div>
</article>
