{% if checklist|length %}
<section
  class="palette-cream text-foreground"
  data-block="checklist"
  {% if headline %}aria-label="{{ headline }}"{% endif %}
>
  {% include 'templates/components/block-header.twig' with {
    title: headline
  } %}

  <ul>
    {% for item in checklist %}
      <li>{{ item.text }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
