@import 'functions';
@import 'variables';
@import 'mixins';

// Assign CSS Grid vars
:root {
  --site-padding: #{$site-padding-m};
  --grid-padding: #{$grid-padding-m};

  @include mq($bp-tablet-xl) {
    --site-padding: #{$site-padding-d};
    --grid-padding: #{$grid-padding-d};
  }
}
