<div class="asset-block-container">
  <figure class="asset-block alignwide">
    {% include 'components/articles/blocks/asset.twig' %}
    {% include 'components/articles/blocks/caption.twig' %}
  </figure>
</div>
