@charset 'UTF-8';

/*!
 * Style Name: Admin Styles
 * Description: Custom styles for WP Admin
 * Author: Upstatement
 * Version: 0.1.0
 */

@import 'abstracts';

// App CSS loaded in via src/Blocks/editor.scss to keep it contained.
// Otherwise our typography and stuff breaks normal Wordpress.

// override wp-help plugin styles
#cws-wp-help-listing {
  @include mq(783px) {
    position: fixed;
  }
}

#cws-wp-help-loading + h1 {
  display: none;
}

div[data-type*='acf/'] {
  // Adds a title to the top of the block for easy readability.
  &::before {
    content: attr(data-title);
    background-color: #1d2327;
    color: #ffffff;
    display: block;
    font-family: $ff-sans;
    font-size: 13px;
    font-weight: normal;
    padding: 16px 20px;
    text-align: left;
  }
}

// Makes these items still selectable via
// mouse click despite them being floated.
div[data-align='left'],
div[data-align='right'] {
  z-index: 10;
  height: auto;
}

.editor-styles-wrapper {
  font-family: $ff-sans;
}
