<header class="pt-topper-margin md:pt-topper-margin-lg pb-6 palette-cream bg-background px-site-padding">
  <div class="border-b border-dotted border-foreground pb-8 mx-auto max-w-article">
    <h1 class="font-serif text-foreground text-h2">{{ title }}</h1>
  </div>
</header>
