<!DOCTYPE html>
<html class="no-js" lang="en-us">

{% include "layouts/includes/head.twig" %}

<body
  class="palette-cream {% if pagename %} page-name-{{ pagename }}{% endif %} {% block custom_body_classes %}{% endblock %}"
  x-data="{ isMenuOpen: false }"
>
  <a
    class="[&:not(:focus)]:sr-only absolute top-4 left-4 bg-cream px-4 py-3 flex justify-center z-[100]"
    href="#content"
    tabindex="0"
  >
    <span class="text-maroon text-md text-center">Skip to content</span>
  </a>

  {% include "layouts/includes/svgs.twig" %}

  <div class="bg-background" :class="isMenuOpen ? 'overflow-hidden relative max-h-svh' : ''">

    {% include "components/nav.twig" with {
      palette: palette|default('cream')
    } %}

    <main id="content" class="{% block custom_content_classes %}{% endblock %}" tabindex="-1">
      {% block pageBody %}
      {% endblock %}
    </main>

    {% block footer %}
      {% include "components/footer.twig" %}
    {% endblock %}

  </div>

  {{ function('wp_footer') }}

  {% block scripts %}
  {% endblock %}

</body>

</html>
