<div class="modal-gallery js-modal-gallery__root" aria-hidden="true">
  <h2 id="modal-gallery-title" hidden>Modal Gallery</h2>

  <button class="modal-gallery__close js-modal-gallery__close">Close</button>

  <div class="modal-gallery__slides">
    <div
      class="modal-gallery__slide modal-gallery__slide--active js-modal-gallery__slide--active"
      aria-labelledby="modal-gallery__caption modal-gallery__credit"
    >
    </div>
  </div>

  <div class="modal-gallery__controls">
    <button class="modal-gallery__button modal-gallery__button--previous js-modal-gallery__previous" aria-label="Previous slide">Previous</button>
    <button class="modal-gallery__button modal-gallery__button--next js-modal-gallery__next" aria-label="Next slide">Next</button>
  </div>

  <div class="modal-gallery__info">
    <div class="modal-gallery___count">
      <span class="modal-gallery___count__current js-modal-gallery__count--current"></span> <span class="modal-gallery___count__slash">/</span> <span class="modal-gallery___count__total js-modal-gallery__count--total"></span>
    </div>
    <div class="modal-gallery__dek">
      <span id="modal-gallery__caption" class="modal-gallery__caption js-modal-gallery__caption"></span>
      <span id="modal-gallery__credit" class="modal-gallery__credit js-modal-gallery__credit"></span>
    </div>
  </div>
</div>
