<div class="page-topper {{class}}">
  <div class="page-topper__hgroup">
    <h1  class="page-topper__h">{{title}}</h1>
    {% if description %}
      <h1  class="page-topper__description">{{description}}</h1>
    {% endif %}
  </div>
</div>
