@mixin image-block {
  .wp-block-ups-image,
  .wp-block-image {
    position: relative;

    img {
      display: block;
      width: 100%;
    }
  }

  figcaption {
    @include caption;
    margin-top: $article-asset-spacing;
  }

  .alignfull {
    figcaption {
      @include grid-parent-child;
    }
  }
}
