@mixin cover-block {
  .wp-block-cover {
    @include block-spacing-md;
    background-position: 50% 50%;
    background-size: cover;
    color: $c-bg;
    position: relative;

    p:first-child {
      margin-top: 0;
    }
  }

  .wp-block-cover__image-background,
  .wp-block-cover__video-background {
    @include absolute(0);
    @include size(100%);
    object-fit: cover;
    transform: translate3d(0, 0, 0);
  }

  .wp-block-cover__inner-container {
    @include grid-parent;
    @include padding($spacing-xl x);
    background: linear-gradient(25deg, rgba(0, 0, 0, 0.8), ease, rgba(0, 0, 0, 0.3) 75%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 80vh;
    pointer-events: none;
    position: relative;
    width: 100%;

    > * {
      @include margin(x 0);
      @include grid-child;
    }
  }

  .wp-block[data-align='wide'],
  .wp-block[data-align='full'],
  .alignwide,
  .alignfull {
    .wp-block-cover__inner-container {
      @include padding($spacing-xl x);

      @include mq($bp-tablet-xl) {
        @include padding($spacing-xl x);
      }

      > * {
        width: 100%;
      }
    }
  }
}
