{% extends "layouts/base.twig" %}

{% set palette = 'lavender' %}

{% block pageBody %}
  {% include 'templates/components/toppers/homepage-topper.twig' with {
    headline: page.meta('headline'),
    image: page.meta('image'),
    image_mobile: page.meta('image_mobile') ?: page.meta('image'),
    introduction: page.meta('introduction')
  } %}

  <div class="gutenberg rich-text">
    {{ page.content }}
  </div>
{% endblock %}
