{% extends "layouts/base.twig" %}

{% block pageBody %}
  {% include 'templates/components/toppers/page-topper--default.twig' with {
    title: 'This page is password protected',
  } %}

  <div class="gutenberg rich-text mb-72">
    <form class="flex flex-col gap-4" action="{{ site.site_url }}/wp-login.php?action=postpass" method="post">
      {% if error %}
        <p>{{ error }}</p>
      {% endif %}

      <div class="flex flex-col gap-2">
        <label class="sr-only" for="pwbox-{{ post_id }}">Enter the password:</label>
        <input class="border-dashed border-foreground border bg-background py-7 px-4 font-sans text-foreground text-body-text" name="post_password" id="pwbox-{{ post_id }}" type="password" placeholder="Enter Password"/>
      </div>

      <button class="button" type="submit" name="Submit">Submit</button>
    </form>
  </div>
{% endblock %}
