@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Judge font */
  @font-face {
    font-family: 'Judge';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../static/fonts/judge/F37Judge-MediumCondensed.woff') format('woff'),
      url('../../static/fonts/judge/F37Judge-MediumCondensed.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Judge';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../static/fonts/judge/F37Judge-RegularCompressed.woff') format('woff'),
      url('../../static/fonts/judge/F37Judge-RegularCompressed.woff2') format('woff2');
  }

  /* Feature Deck font */
  @font-face {
    font-family: 'Feature Deck';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../static/fonts/feature-deck/FeatureDeckCondensed-Regular-Web.woff') format('woff'),
      url('../../static/fonts/feature-deck/FeatureDeckCondensed-Regular-Web.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Feature Deck';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../../static/fonts/feature-deck/FeatureDeckCondensed-RegularItalic-Web.woff')
        format('woff'),
      url('../../static/fonts/feature-deck/FeatureDeckCondensed-RegularItalic-Web.woff2')
        format('woff2');
  }

  @font-face {
    font-family: 'Feature Deck';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../static/fonts/feature-deck/FeatureDeckCondensed-Bold-Web.woff') format('woff'),
      url('../../static/fonts/feature-deck/FeatureDeckCondensed-Bold-Web.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Feature Deck';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('../../static/fonts/feature-deck/FeatureDeckCondensed-BoldItalic-Web.woff')
        format('woff'),
      url('../../static/fonts/feature-deck/FeatureDeckCondensed-BoldItalic-Web.woff2')
        format('woff2');
  }

  /* Feature Deck font */
  @font-face {
    font-family: 'Feature Text';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../static/fonts/feature-text/FeatureText-Regular-Web.woff') format('woff'),
      url('../../static/fonts/feature-text/FeatureText-Regular-Web.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Feature Text';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../../static/fonts/feature-text/FeatureText-RegularItalic-Web.woff') format('woff'),
      url('../../static/fonts/feature-text/FeatureText-RegularItalic-Web.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Feature Text';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../static/fonts/feature-text/FeatureText-Bold-Web.woff') format('woff'),
      url('../../static/fonts/feature-text/FeatureText-Bold-Web.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Feature Text';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('../../static/fonts/feature-text/FeatureText-BoldItalic-Web.woff') format('woff'),
      url('../../static/fonts/feature-text/FeatureText-BoldItalic-Web.woff2') format('woff2');
  }

  /* Metrify Narrow font */
  @font-face {
    font-family: 'Metrify Narrow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../static/fonts/metrify/NaNMetrifyBNarrow-Reg.woff') format('woff'),
      url('../../static/fonts/metrify/NaNMetrifyBNarrow-Reg.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Metrify Narrow';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../../static/fonts/metrify/NaNMetrifyBNarrow-Italic.woff') format('woff'),
      url('../../static/fonts/metrify/NaNMetrifyBNarrow-Italic.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Metrify Narrow';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../static/fonts/metrify/NaNMetrifyBNarrow-Bld.woff') format('woff'),
      url('../../static/fonts/metrify/NaNMetrifyBNarrow-Bld.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Metrify Narrow';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../static/fonts/metrify/NaNMetrifyBNarrow-Med.woff') format('woff'),
      url('../../static/fonts/metrify/NaNMetrifyBNarrow-Med.woff2') format('woff2');
  }

  /* Metrify font */
  @font-face {
    font-family: 'Metrify';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../../static/fonts/metrify/NaNMetrifyBStd-Reg.woff') format('woff'),
      url('../../static/fonts/metrify/NaNMetrifyBStd-Reg.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Metrify';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../../static/fonts/metrify/NaNMetrifyBStd-Med.woff') format('woff'),
      url('../../static/fonts/metrify/NaNMetrifyBStd-Med.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Metrify';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../../static/fonts/metrify/NaNMetrifyBStd-Bld.woff') format('woff'),
      url('../../static/fonts/metrify/NaNMetrifyBStd-Bld.woff2') format('woff2');
  }

  * {
    @apply font-sans-narrow;
  }

  a,
  strong,
  em {
    font-family: inherit;
  }

  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
  }

  .rich-text,
  .wp-block-column {
    .is-layout-flow > * {
      margin-block-start: 0;
    }

    /*
     * This selector is complicated but allows us to target elements
     * in Gutenberg rich text but not in custom blocks ([data-block]).
     *
     * We want our custom blocks to be completely isolated from the Gutenberg styling
     * for better control and maintainability.
     */
    :not(:is([data-block] *)), /* Target elements that are NOT in [data-block] */
    :is([data-block] .rich-text *) /* Target elements in [data-block] only if inside a nested .rich-text class */ {
      &:is(h1, h2, h3, h4, h5, h6) {
        @apply mb-4 mt-8;
      }

      &:is(h1) {
        @apply h1;
      }

      &:is(h2) {
        @apply h2;
      }

      &:is(h3) {
        @apply h3;
      }

      &:is(h4) {
        @apply h4;
      }

      &:is(h5) {
        @apply h5;
      }

      &:is(h6) {
        @apply h6;
      }

      &:is(strong):not(:is(.rich-text > [data-block] *)) {
        @apply font-bold;
      }

      &:is(em) {
        @apply italic;
      }

      &:is(h1, h2, h3, h4, h5, h6) + &:is(h1, h2, h3, h4, h5, h6) {
        @apply mt-3 md:mt-5;
      }

      &:is(h1, h2, h3, h4) + &:is(p) {
        @apply mt-3 md:mt-5;
      }

      &:is(h5, h6) + &:is(p) {
        @apply mt-1 md:mt-3;
      }

      &:is(a):not(.wp-element-button):not(.button):not(.ups-block__related-articles__link) {
        @apply text-foreground hover:text-background hover:bg-foreground bg-gradient-to-r from-foreground to-foreground bg-no-repeat transition-all bg-left-bottom bg-[length:100%_1px];
      }

      &:is(p, li, ul, ol, blockquote) {
        @apply leading-snug paragraph;
      }

      &:is(p, li, ul, ol):not(blockquote > p) {
        @apply text-base md:text-[1.25rem] leading-[1.4] font-sans-narrow;
      }

      &:is(hr) {
        @apply h-px border-foreground border-b border-t-0 border-dotted;
      }

      /* &:is(blockquote) {
        p {
          @apply font-serif tracking-tight md:text-h3;
        }
      } */

      &:is(ul):not(.ups-block__related-articles__list) {
        ul {
          @apply !ml-0 !mb-0 !mr-0 mt-2;
        }

        > li {
          @apply ml-4 pl-4;

          &::marker {
            @apply text-foreground text-sm;
            content: '●';
          }

          > ul > li {
            &::marker {
              @apply text-foreground;
              content: '○';
            }

            > ul > li::marker {
              @apply text-foreground;
              content: '■';
            }
          }
        }
      }

      &:is(ol) {
        counter-reset: number;

        ol {
          @apply !ml-0 !mb-0 !mr-0 mt-2;
        }

        > li {
          @apply ml-4 pl-4;
          counter-increment: number;

          &::marker {
            @apply text-foreground font-bold text-base;
            content: counter(number) '.';
          }

          > ol > li {
            &::marker {
              @apply text-foreground;
              content: counter(number, lower-alpha) '.';
            }

            > ol > li::marker {
              @apply text-foreground;
              content: counter(number, lower-roman) '.';
            }
          }
        }
      }

      &:is(li + li) {
        @apply mt-2;
      }

      /* &:is(.rich-text > *:not([data-block]) + *),
      &:is(.rich-text > * + *:not([data-block])) {
        @apply mt-6 md:mt-10;
      } */
    }
  }

  .gutenberg {
    @apply px-site-padding;

    /* Everything should have space between */
    > *:not([data-block]) {
      @apply mt-8 md:mt-10;
    }

    /* Space for blocks is different */
    > [data-block] {
      @apply mt-10 md:mt-16;
    }

    /* Space for first non-colored block */
    > *[data-block]:is(.palette-cream):first-child {
      @apply mt-8 md:mt-12;
    }

    /* No space between colored blocks and first colored block */
    > [data-block]:not(.palette-cream) + [data-block]:not(.palette-cream),
    > [data-block]:not(.palette-cream):first-child {
      @apply !mt-0;
    }

    /* Space from footer for any last-child that is not a colored block */
    > :is(:not([data-block]), .palette-cream[data-block]):last-child {
      @apply mb-8 md:mb-10;
    }

    > *:not([data-block]) {
      @apply mx-auto max-w-article text-foreground;
    }

    /*
     * Drop cap
     */

    .has-drop-cap {
      @apply first-letter:text-7xl first-letter:text-foreground
  first-letter:mr-3 first-letter:float-left first-letter:font-serif;
    }

    /*
     * Drop Quote
     */

    .wp-block-quote {
      p {
        @apply border-l-2 border-foreground pl-4 font-sans;
      }

      cite {
        @apply h6 normal-case not-italic block mt-4;
      }
    }

    /*
     * Pull Quote
     */

    .wp-block-pullquote {
      @apply relative !my-14 after:content-[''] after:block after:w-full after:border-b after:border-dotted after:border-foreground;

      blockquote {
        @apply pl-0 md:pl-14 border-t-2 border-foreground py-6 md:py-9;

        p {
          @apply !font-serif tracking-tight !text-blockquote before:content-["“"] before:text-5xl before:h-[40px] before:md:text-8xl before:text-lavender before:block before:md:absolute before:left-0 before:!leading-[0.9];
        }
      }

      cite {
        @apply h6 normal-case not-italic block mt-4;
      }
    }

    .wp-block-pullquote.alignleft,
    .wp-block-pullquote.alignright {
      blockquote {
        @apply pl-0 md:pl-8;
        p {
          @apply !text-xl before:text-5xl;
        }
      }
    }

    .wp-block-pullquote.alignleft {
      @apply pr-0;
    }

    .wp-block-pullquote.alignright {
      @apply pl-0;
    }

    .wp-block-pullquote.alignfull {
      blockquote {
        @apply pl-0 md:pl-16;
        p {
          @apply !text-blockquote-lg before:text-8xl before:h-[60px];
        }
      }
    }

    /*
     * Table
     */
    figure.wp-block-table {
      @apply overflow-scroll;

      table {
        @apply w-full border-collapse table-fixed min-w-[500px];
      }

      thead {
        @apply h6 p-2 bg-lavender;
      }

      th {
        @apply font-serif text-lg capitalize;
      }

      tbody tr {
        &:is(:nth-child(even)) {
          @apply bg-lavender-20;
        }
      }

      th,
      td {
        @apply text-left py-2 px-3;

        &:not(:first-child) {
          @apply border-0;
        }
      }

      tr {
        @apply border-0;
      }

      figcaption {
        @apply mt-4;
      }
    }

    /*
    * Related articles
    */

    .ups-block__related-articles__list {
      @apply !list-none;
    }

    .ups-block__related-articles__item {
      @apply !m-0 !pl-0;
    }

    .ups-block__related-articles__link {
      @apply border-b border-dotted border-maroon py-2 w-full block hover:bg-maroon hover:text-cream;
    }

    /*
     * Code
     */
    pre.wp-block-code {
      @apply bg-black p-6 rounded-lg;

      code {
        @apply text-white;
      }
    }

    /*
     * Buttons
     */
    .wp-block-buttons {
      @apply gap-2;
    }

    .wp-element-button {
      @apply button;

      .is-style-outline & {
        @apply button-outline;
      }
    }

    /*
     * Image
     */
    figure.wp-block-image {
      img {
        @apply w-full h-auto;
      }
    }

    /*
     * Video
     */
    figure.wp-block-video {
      video {
        @apply w-full h-auto;
      }
    }

    /*
     * Embed
     */
    figure.wp-block-embed {
      .wp-block-embed__wrapper,
      iframe {
        @apply w-full h-full;
      }

      &.wp-embed-aspect-16-9 {
        @apply aspect-video;
      }
    }

    /*
     * File
     */
    .wp-block-file {
      @apply flex flex-wrap gap-4 items-center;
    }

    /*
     * Figure captions
     */
    .wp-element-caption {
      @apply caption mt-2;
    }

    /*
     * Inline images
     */
    .wp-rich-text-inline-image {
      @apply inline h-7 !w-auto;
    }

    /*
     * Columns
     */
    .wp-block-columns {
      @apply max-md:flex-col items-start;

      .wp-block-column {
        @apply flex-1;
      }
    }

    /*
     * Alignment options
     */
    .alignfull {
      @apply max-w-none;
    }

    .alignwide {
      @apply max-w-article-wide;
    }

    .alignleft {
      @apply sm:clear-left sm:float-left sm:max-w-1/3 sm:m-4;

      margin-left: max(0px, calc((100% - theme('maxWidth.article')) / 2));

      @media (min-width: theme('screens.sm')) {
        width: calc(theme('maxWidth.article') / 3);
      }
    }

    .alignright {
      @apply sm:clear-right sm:float-right sm:max-w-1/3 sm:m-4;

      margin-right: max(0px, calc((100% - theme('maxWidth.article')) / 2));

      @media (min-width: theme('screens.sm')) {
        width: calc(theme('maxWidth.article') / 3);
      }
    }
  }
}

@layer components {
  .h1 {
    @apply text-h1 font-serif;
  }

  .h2 {
    @apply text-h2 font-serif;
  }

  .h3 {
    @apply text-h3 font-serif;
  }

  .h4 {
    @apply text-h4 font-serif;
  }

  .h5 {
    @apply text-h5 font-serif;
  }

  .h6 {
    @apply text-[0.938rem] uppercase font-bold;
  }

  .paragraph {
    @apply font-sans font-normal text-xl;
  }

  .caption {
    @apply font-sans text-sm;
  }

  .text-link {
    @apply bg-gradient-to-r from-background to-background bg-no-repeat transition-all bg-left-bottom;
    background-size: 0 1px;

    &:hover,
    &[aria-current='page'] {
      background-size: 100% 1px;
    }
  }

  .button {
    @apply bg-yellow text-maroon w-fit text-sm font-bold uppercase px-3 pb-2 pt-2 md:pt-2.5 inline-block transition-all;
    @apply hover:bg-maroon hover:text-cream;
  }

  .button-outline {
    @apply bg-transparent text-maroon border border-maroon;
    @apply hover:bg-maroon hover:text-cream;
  }
}

@layer utilities {
  .palette-yellow {
    --c-foreground: theme('colors.maroon');
    --c-background: theme('colors.yellow');

    --c-button-foreground: theme('colors.maroon');
    --c-button-background: theme('colors.cream');
  }

  .palette-maroon {
    --c-foreground: theme('colors.lavender.DEFAULT');
    --c-background: theme('colors.maroon');

    --c-button-foreground: theme('colors.maroon');
    --c-button-background: theme('colors.cream');
  }

  .palette-lavender {
    --c-foreground: theme('colors.maroon');
    --c-background: theme('colors.lavender.DEFAULT');

    --c-button-foreground: theme('colors.maroon');
    --c-button-background: theme('colors.cream');
  }

  .palette-cream {
    --c-foreground: theme('colors.maroon');
    --c-background: theme('colors.cream');

    --c-button-foreground: theme('colors.cream');
    --c-button-background: theme('colors.maroon');
  }

  .palette-teal {
    --c-foreground: theme('colors.black');
    --c-background: theme('colors.teal');

    --c-button-foreground: theme('colors.black');
    --c-button-background: theme('colors.cream');
  }

  .palette-coral {
    --c-foreground: theme('colors.black');
    --c-background: theme('colors.coral');

    --c-button-foreground: theme('colors.black');
    --c-button-background: theme('colors.cream');
  }
}

/**
 * Campaign Monitor forms
 */
.cmApp_embedFormContainer {
  @apply !p-0 !mx-auto !mt-0;

  .cmApp_embedded {
    @apply !p-0 !m-0 !w-full !max-w-none;
  }

  .cmApp_formHeader {
    @apply !font-serif !text-h2 !text-foreground !text-left;
  }

  form {
    @apply !flex !flex-col !gap-4;

    > div {
      @apply !px-0;
    }
  }

  .cmApp_fieldWrap {
    @apply !flex !flex-col !gap-6;
  }

  label {
    @apply !font-sans !text-foreground !text-p !font-medium !block !mb-2;
  }

  input[type='text'] {
    @apply !border-dashed !border-foreground !bg-background !py-7 !px-4 !font-sans !text-foreground !text-p;
  }

  ul {
    @apply !list-none !flex !flex-col !gap-2 !mt-4;

    li {
      @apply marker:!content-none !pl-0 !ml-0 !flex !gap-3 !items-center;

      input[type='checkbox'] {
        @apply !cursor-pointer !h-5 !w-5 !shrink-0 !accent-foreground;
      }

      label {
        @apply !mb-0 !cursor-pointer;
      }
    }
  }
}
