{% set border = border|default(true) %}

<div class="{{ border ? 'border-b border-foreground pb-1' }} flex max-sm:flex-col sm:justify-between sm:items-end  sm:gap-2">
  <h2 class="font-display font-medium text-h3 uppercase">{{ title }}</h2>

  {% if link %}
    <a class="max-md:text-sm font-sans hover:underline whitespace-nowrap" href="{{ link.url }}">{{ link.title }}</a>
  {% endif %}
</div>
