<footer class="p-site-padding theme-maroon bg-background">
  <a href="{{ site.url }}">
    <span class="sr-only">Home</span>
    <svg class="w-48 h-20" aria-hidden="true">
      <use xlink:href="#logo"></use>
    </svg>
  </a>

  <div class="grid grid-cols-2 gap-gutter mb-24">
    <p class="max-w-2xl">We invests in the leadership and organizing of diverse communities, including Black, Latinx, AAPI, Indigenous peoples, immigrants and other communities bearing the brunt of the fossil-fuel economy. We engage voters in these communities through year-round nonpartisan civic engagement and voter participation campaigns.</p>

    <ul class="columns-2">
      {% for link in ['Approach', 'Grantees', 'Our team', 'Careers', 'Resources', 'Blog', 'Contact us'] %}
      <li class="mb-2">
        <a class="font-serif text-h3" href="#">{{ link }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="pt-4 flex items-center gap-6 border-t-2 border-primary">
    <p>© 2024 The Climate & Clean Energy Equity Fund.</p>

    <nav class="flex gap-4 mr-auto" aria-label="Legal">
      <a href="#">Privacy Policy</a>
    </nav>

    <nav class="flex items-center gap-3" aria-label="Social">
      <span>Follow us:</span>

      <a href="#">
        <span class="sr-only">Vimeo</span>
        <svg class="aspect-square h-8 w-8" aria-hidden="true">
          <use xlink:href="#linkedin"></use>
        </svg>
      </a>

      <a href="#">
        <span class="sr-only">LinkedIn</span>
        <svg class="aspect-square h-8 w-8" aria-hidden="true">
          <use xlink:href="#github"></use>
        </svg>
      </a>
    </nav>
  </div>
</footer>
