<nav
  id="menu"
  class="menu js--menu"
  aria-hidden="true"
  aria-modal="true"
  aria-labelledby="menu-label"
  role="dialog"
  tabindex="0"
>

  <h2 id="menu-label" hidden>Menu</h2>

  <div class="menu-inner">
    <ul class="menu-items">
      {% for item in nav_pages_menu.items %}
      <li class="menu-item">
        <a href="{{ item.url }}" class="menu-item-link {% if item.current %}active{% endif %}">
          <span>{{ item.name }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

</nav>
