<header class="pt-topper-margin  px-site-padding  ">
    <div class="border-b border-dotted border-maroon pb-7 mx-auto max-w-article">
      <h1 class="font-serif text-foreground text-h2">{{ title }}</h1>
      {% if description %}
        <p>{{description}}</p>
      {% endif %}
    </div>
  </header>
