@use 'sass:math';

@mixin block-alignment {
  // always clear floated elements
  .alignleft,
  .alignright,
  .alignnone,
  .aligncenter,
  .alignfull,
  .alignwide {
    clear: both;
  }

  // add margin for all blocks that aren't floated
  .aligncenter,
  .alignnone,
  .alignwide,
  .alignfull {
    @include block-spacing-md;
  }

  .alignfull,
  .alignwide {
    position: relative;
    max-width: initial;
  }

  .alignfull {
    margin-left: calc(-1 * (var(--grid-padding) + var(--site-padding)));
    margin-right: calc(-1 * (var(--grid-padding) + var(--site-padding)));
    width: 100vw;

    @include mq($article-max) {
      margin-left: calc(
        -50vw + #{math.div($article-max, 2)} - var(--grid-padding) - var(--site-padding)
      );
      margin-right: calc(
        -50vw + #{math.div($article-max, 2)} - var(--grid-padding) - var(--site-padding)
      );
    }
  }

  .alignwide {
    @include mq($article-max) {
      margin-left: calc(-50vw + #{math.div($article-max, 2)});
      margin-right: calc(-50vw + #{math.div($article-max, 2)});
      // Some elements (like tables) need explicit width set
      width: calc(100vw - 2 * var(--site-padding) - 2 * var(--grid-padding)) !important;
    }
    @include mq($site-max) {
      margin-left: -#{math.div($site-max - $article-max, 2)};
      margin-right: -#{math.div($site-max - $article-max, 2)};
      width: calc(#{$site-max} - 2 * var(--grid-padding) - 2 * var(--site-padding)) !important;
    }
  }

  .aligncenter {
    @include max(80%);
  }

  .alignleft,
  .alignright {
    @include margin($spacing-md x);

    // we start full width at mobile so things aren't too small
    @include mq($bp-tablet) {
      width: calc(50% - var(--grid-padding));

      // compensate for lineheight with a lil extra margin top
      @include margin(#{$spacing-md + $spacing-xxs} x $spacing-md);
    }
  }

  .alignleft {
    @include mq($bp-tablet) {
      clear: left;
      float: left;
      margin-right: calc(2 * var(--grid-padding));
    }
    @include mq($article-max) {
      margin-left: calc(-0.5 * (100vw - #{$article-max}));
    }
    @include mq($site-max) {
      margin-left: -#{math.div($site-max - $article-max, 2)};
    }
  }

  .alignright {
    @include mq($bp-tablet) {
      clear: right;
      float: right;
      margin-left: calc(2 * var(--grid-padding));
    }
    @include mq($article-max) {
      margin-right: calc(-0.5 * (100vw - #{$article-max}));
    }
    @include mq($site-max) {
      margin-right: -#{math.div($site-max - $article-max, 2)};
    }
  }
}

@mixin editor-block-alignment {
  .wp-block {
    @include margin(x a);
    max-width: $article-max;
    width: 100%;
  }

  .wp-block[data-align='left'],
  .wp-block[data-align='right'],
  .wp-block[data-align='full'],
  .wp-block[data-align='wide'] {
    max-width: none;
  }

  // always clear floated elements
  .wp-block[data-align='left'],
  .wp-block[data-align='right'],
  .wp-block[data-align='none'],
  .wp-block[data-align='center'],
  .wp-block[data-align='full'],
  .wp-block[data-align='wide'] {
    clear: right;
  }

  // set align full max width and alignment
  .wp-block[data-align='full'] {
    position: relative;
    max-width: initial;
    @include mq($bp-tablet-xl) {
      width: auto;
    }
  }

  // add margin for all blocks that aren't floated
  .wp-block[data-align='center'],
  .wp-block[data-align='none'],
  .wp-block[data-align='wide'],
  .wp-block[data-align='full'] {
    @include block-spacing-md;
  }

  .wp-block[data-align='left'],
  .wp-block[data-align='right'] {
    @include margin($spacing-md x);
    height: auto;

    // we start full width at mobile so things arent too small
    @include mq($bp-tablet) {
      width: 50%;

      // compensate for line-height with a lil extra margin top
      @include margin(#{$spacing-md + $spacing-xs} x $spacing-md);
    }

    @include mq($bp-tablet-xl) {
      width: 33%;
    }

    * {
      @include margin(x a);
    }
  }

  .wp-block[data-align='right'] {
    @include mq($bp-tablet) {
      clear: right;
      float: right;
      margin-left: 30px;
    }
  }

  .wp-block[data-align='left'] {
    @include mq($bp-tablet) {
      clear: left;
      float: left;
      margin-right: 30px;
    }
  }
}
