// wordpress calls "blockquotes" "quotes"
@mixin quote-block {
  .wp-block-quote {
    @include block-spacing-md;
    @include margin(x 0);
    border-left: 1px solid;
    color: $c-secondary;
    padding-left: $spacing-lg;

    @include mq($bp-tablet-xl) {
      padding-left: $spacing-xl;
    }

    cite {
      @include small-text;
      display: block;
      margin: $font-margin-base;
      font-style: normal;
    }
  }
}
