name: Test

on:
  - pull_request

jobs:
  tests:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Add HTTP basic auth credentials
        env:
          COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH_JSON }}
        if: env.COMPOSER_AUTH != null
        run: echo '${{ secrets.COMPOSER_AUTH_JSON }}' > $GITHUB_WORKSPACE/web/auth.json

      - name: Install PHP dependencies
        uses: php-actions/composer@v6
        with:
          working_dir: 'web'

      - name: Manually install rollup dependencies (see https://github.com/npm/cli/issues/4828#issuecomment-2404560937)
        run: npm i @rollup/rollup-linux-x64-gnu

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Test JavaScript
        run: npm run lint:scripts

      - name: Test PHP
        run: npm run lint:php
